#logo {
	height: 48px;
	width: 48px;
	margin-top: 6px;
}

.navbar-default {
    background-color: black;
    border-color: black;
	height: 64px;
	padding-left: 32px;
	border-radius:0px;
}

.nav.navbar-nav{
	padding-top: 6px;
}

.nav.navbar-nav li {
    padding-left: 32px;
}

.nav.navbar-nav li a {
    color: white;
	font-family: 'Roboto', sans-serif;
}

.nav.navbar-nav.navbar-right{
	padding-right: 32px;
}

.navbar-default .navbar-nav > li > a {
	border-bottom: 1px solid transparent;
	padding-bottom: 3px;
}

.navbar-default .navbar-nav > li > a:hover {
	border-bottom-color: #FFFF00;
	color: white;
	transition: border 0.4s linear;
}

.navbar-default .navbar-nav > li > a:focus {
	outline: none;
	color: white;
}

.carousel {
	margin-top: -20px;
}

.carousel .item {
	height: 600px;
	margin-top: -100px;
}

.carousel .item img {
	left: -9999px;  /*important */
	right: -9999px;  /*important */
	margin: 0 auto;  /*important */
	max-width: none;  /*important */
	min-width: 100%;
	position: absolute;
}

.carousel-indicators li {
	border-color: black;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.carousel-indicators .active {
    background-color: #FFC107;
	border: none;
}

button {
    background-color: #FFC107; /* amber */
    color: black;
    padding: 8px 32px; /*height width*/
	border-radius: 32px;
	border: 3px solid #FFC107;
	margin-bottom: 2%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    display: inline-block;
    font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	text-align: center;
    text-decoration: none;
	
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	/* src: http://www.w3schools.com/css/css3_buttons.asp */
}

button:hover{
	background-color: transparent;
	border: 3px solid #FFC107;
}

h4 {
	font-family: 'Roboto', sans-serif;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

h1 {
	font-family: 'Arvo', serif;
	margin-bottom: 15%;
	font-size: 3vw;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

.black.div {
	background-color: #212121;
	width: 100%;
	height: 30vw;
	padding-top: 10px;
}

.gray.div {
	background-color: #303030;
	width: 100%;
	height: 30vw;
	padding-top: 10px;
}

.black.div .hr {
	width: 100%;
	height: 20px;
	border-bottom: 2px solid #FFC107;
	text-align: center;
}

.gray.div .hr {
	width: 100%;
	height: 20px;
	border-bottom: 2px solid #FFC107;
	text-align: center;
}

.black.div .hr .section {
	font-size: 2vw;
	background-color: #212121;
	padding: 0 10px; 
	color: white;
	font-family: 'Roboto', sans-serif;
}

.gray.div .hr .section {
	font-size: 2vw;
	background-color: #303030;
	padding: 0 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.black.div p {
	text-align: center;
	margin-top: 40%;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 2vw;
}

.gray.div #logo {
	width: 5vw;
	height: 5vw;
	float: left;
	margin-right: 20px;
	margin-top: -5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius:100px;
}

#about {
	color: white;
	font-size: 1.1vw;
	padding-left: 10%;
	padding-top: 12%;
	float: left;
}

.gray.div #icon {
	margin-right: 10px;
	width: 2vw;
	height: 2vw;
	margin-top: 5%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius:100px;
}

a, a:active, a:focus, a:hover {
	outline: none;
}

#card {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-size: cover;
}

#card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.eventitem {
	float: left;
	width: 20vw;
	height: 20vw;
	border: none;
	text-align: center;
	margin-left: 10%;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
	margin-top: 2%;
}

.eventitem.ibmq {
	background-image: url(../img/ibmq_2.JPG); 
}

.eventitem.mathquest {
	background-image: url(../img/mathquest.JPG);
}

.eventitem.annivweek {
	background-image: url(../img/annivweek.JPG);
}

.section {
	width: 80%;
	height: 75%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-size: cover;
	background-position: center;
}

.section.members{
	background-image: url(../img/members.JPG);
	background-position: 20% 20%;
}

.section.officers{
	background-image: url(../img/officers.JPG);
	background-position: 40% 40%;
}