body{
		background-color:#303030;
	}
#ExecCom{
			color:#ffff00;
			font-size:3vw;
			font-family:Arvo, serif;
			padding-left:5%;
		}
.idpic{
		width:80px;
		height:80px;
		background-image: url('../img/execom_1.jpg');
		padding:2px;
		float:left;
		margin-left: 5%;
		margin-right: 2%;
		background-size: cover;
		background-position: 50% 25%;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
.idpic.se{
		background-image: url('../img/execom_1.jpg');
		}
.idpic.je{
		background-image: url('../img/execom_2.jpg');
		}
.idpic.es{
		background-image: url('../img/execom_3.jpg');
		}
.idpic.t{
		background-image: url('../img/execom_4.jpg');
		}
.idpic.au{
		background-image: url('../img/execom_5.jpg');
		}
.idpic.pro{
		background-image: url('../img/execom_6.jpg');
		}
.idpic.an{
		background-image: url('../img/execom_7.jpg');
		}
.idpic.saa{
		background-image: url('../img/execom_8.jpg');
		}
.idpic.ssch{
		background-image: url('../img/execom_9.jpg');
		}
.idpic.sa{
		background-image: url('../img/execom_10.jpg');
		}
.idpic.ja{
		background-image: url('../img/execom_11.jpg');
		}
.officersdata{
				float:50%;
				margin:20px;
				padding-bottom: 2%;
}
.fullname{
			font-size:25px;
			font-family:Arvo, serif;
			color:white;
			}
.position{
			font-size:16px;
			font-family:Arvo, serif;
			color:#FAFAFA;
			}
